{% extends 'base.html.twig' %}

{% block bootstrap_example %}{% endblock %}
{% block content %}
    <div class="py-5 text-center">
        <h2>Search form</h2>
    </div>
    {{ form(form) }}
{% endblock %}