{% extends 'base.html.twig' %}
{% block content %}
    <div class="mt-3 jumbotron col-lg-8 offset-lg-2">
        <h1 class="display-4">Welcome to trip search service!</h1>
        <p class="lead">
            Этот сервис позволяет искать различные способы добаться из точку А в точку Б.
            На данный момент система использует данные перелетов Aviasales. И пока только по городам европы.
            Этот сервис в фоне непрерывно выкачивает перелеты из Aviasales, по которым в дальнейшем будут строиться маршруты.
            Откройте <a href="{{ path('searchForm') }}">форму</a> и введите необходимые параметры.
            Можно выбрать конкретные города отправления и прибытия, а можно выбрать страну. В случае, если выбираете страну -
            город не учитывается.
            Система найдет самые дешевые способы добраться из начального пункта в конечный,
            возможно, с пересадками, если так выйдет дешевле. Система только в начале своего развития, но я надеюсь,
            вы поможете сделать мне ее лучше! Пишите свои предложения по улучшению <a href="{{ path('feedback') }}">сюда</a>.
            UX позорный, но я все-таки разработчик, а не дизайнер)
        </p>
    </div>
{% endblock %}